*{
  box-sizing: border-box;
}

body{
  background-color: #2d2d2d;
  color: #d2d2d2;
  font-family: 'Courier New', Courier, monospace;
}

section.main{
  width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

h1{font-size: 2rem;}
h2{font-size: 1.64rem;}
h3{font-size: 1.12rem;}

.ejercicio{
  margin-bottom: 2rem;
}

.resultado{
  margin-bottom: 1rem;
  font-size: .88rem;
}
